# Matplotlib & Seaborn 预习进度考察

In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [8]:
bank = pd.read_csv("./bank-additional-train.csv")
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,32,management,married,professional.course,unknown,no,no,cellular,jul,mon,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
1,41,admin.,married,high.school,no,yes,yes,cellular,apr,mon,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
2,32,admin.,married,university.degree,no,yes,no,cellular,may,mon,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.299,5099.1,no
3,37,admin.,married,high.school,no,unknown,unknown,cellular,jul,thu,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
4,38,admin.,divorced,university.degree,no,no,no,cellular,jul,tue,...,8,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no

## 1.
bank 变量储存的是一个银行的营销活动记录，请分别使用 Seaborn 和 Matplotlib 绘制这个银行的客户婚姻状况（ marital ），住房情况（ housing ），贷款状况（ loan ）和教育水平（ education ）的 bar graph 。**额外要求：x坐标必须是名称（比如：married, single or divorced ）而不是数值；必须要有正确的坐标系名称。[5]**

In [ ]:
#Seaborn

In [ ]:
#Matplotlib

## 2.
现在银行经理希望知道职位变化率（ emp.var.rate ）和客户信心指数（ cons.conf.idx ）之间的关系。请分别使用 Seaborn 和 Matplotlib 绘制这两个数据的 Scatter Graph 。**额外要求：必须要有正确的坐标系名称。[3]**

In [ ]:
#Seaborn

In [ ]:
#Matplotlib

# 3.
最后，请分别使用 Seaborn（请使用 ```sns.histplot()```） 和 Matplotlib 绘制客户年龄的 histogram **额外要求：必须要有正确的坐标系名称。[3]**

In [ ]:
#Seaborn

In [ ]:
#Matplotlib

## 答疑区
如果你还有任何预习上的问题，请在下面写明：

分数（格式 a/5 + b/3 + c/3 = d/11）：